#sports{
    background: linear-gradient(to right, #FFD50A,#E6D88A);
}
#economy{
    background: linear-gradient(to left, #ADE09D, #A2E159);
}
#games{
    background: linear-gradient(to left,#C285E0,#733AE0 );
}
a{
    color: blue;
}